PROJECT_ID=antigravity-503007
REGION=us-central1
DATA_AGENT_NAME=projects/antigravity-503007/locations/global/dataAgents/cymbal-retail-analytics-data-agent
BIGTABLE_INSTANCE_ID=operations-db
BIGTABLE_TABLE_ID=cashier_realtime_alerts
BIGTABLE_MCP_URL=https://mcp-toolbox-bigtable-z3dyhmkzwa-uc.a.run.app
GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT=antigravity-503007
GOOGLE_CLOUD_LOCATION=global
GEMINI_MODEL=gemini-3.6-flash
